<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Crawly</title>
	
   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{{url_for('static',filename = 'css/base1.css')}}">  
   <link rel="stylesheet" href="{{url_for('static',filename = 'css/main1.css')}}">
       

   <!-- script
   ================================================== -->
	

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="{{url_for('static',filename = 'images/solo.png' )}}">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">

   	<div class="shadow-overlay"></div>

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<div class='video-link'>
	   				<img src="{{url_for('static',filename='images/solo.png')}}" alt="">
	   			</div>

	   			<h5>Welcome to crawly</h5>
               <h1>CONNECTING READERS AND WRITERS AT ONE PLACE</h1>
	   			<a href="login-signup.html"> <span class="button stroke ">GO AHEAD</span></a>

	   		</div>  
   			
   		</div>   		 		
   	</div> 

      
   </section> <!-- /intro -->


      <div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>Site By Crawly</span> 
		         	<span>Design by TeamCrawly</a></span>		         	
		         </div>

		                
	      	</div>

      	</div> <!-- /footer-bottom -->     	

      </div>

   </footer>  


   <!-- Java Script
   ================================================== --> 
   
  
  

</body>

</html>